In [16]:
data = [{
            'state': 'Florida',
            'idioms': [
                {
                'name': 'counties',
                'list': [{'name': 'Dade', 'population': 12345},
                         {'name': 'Broward', 'population': 40000},
                         {'name': 'Palm Beach', 'population': 60000}],
                },
                {
                'name': 'counties2',
                'list': [{'name': 'Dade2', 'population': 123452},
                         {'name': 'Broward2', 'population': 400002},
                         {'name': 'Palm Beach2', 'population': 600002}]
                }
            ]
        },
        {
            'state': 'Ohio',
            'idioms': [
                {
                'name': 'counties',
                'list': [{'name': 'Summit', 'population': 1234},
                         {'name': 'Cuyahoga', 'population': 1337}],
                },
                {
                'name': 'counties2',
                'list': [{'name': 'Summit2', 'population': 12342},
                         {'name': 'Cuyahoga2', 'population': 13372}]
                }
            ]
        }]
from pandas.io.json import json_normalize
result = json_normalize(data, ['idioms', 'list'],['state', ['idioms', 'name']])
result

          name  population    state idioms.name
0         Dade       12345  Florida    counties
1      Broward       40000  Florida    counties
2   Palm Beach       60000  Florida    counties
3        Dade2      123452  Florida   counties2
4     Broward2      400002  Florida   counties2
5  Palm Beach2      600002  Florida   counties2
6       Summit        1234     Ohio    counties
7     Cuyahoga        1337     Ohio    counties
8      Summit2       12342     Ohio   counties2
9    Cuyahoga2       13372     Ohio   counties2

In [15]:
from urllib2 import Request, urlopen
import json
from pandas.io.json import json_normalize

path1 = '42.974049,-81.205203|42.974298,-81.195755'
request=Request('http://maps.googleapis.com/maps/api/elevation/json?locations='+path1+'&sensor=false')
response = urlopen(request)
elevations = response.read()

data = json.loads(elevations)
print elevations
json_normalize(data['results'])

{
   "results" : [
      {
         "elevation" : 243.3462677001953,
         "location" : {
            "lat" : 42.974049,
            "lng" : -81.205203
         },
         "resolution" : 19.08790397644043
      },
      {
         "elevation" : 244.1318664550781,
         "location" : {
            "lat" : 42.974298,
            "lng" : -81.19575500000001
         },
         "resolution" : 19.08790397644043
      }
   ],
   "status" : "OK"
}

    elevation  location.lat  location.lng  resolution
0  243.346268     42.974049    -81.205203   19.087904
1  244.131866     42.974298    -81.195755   19.087904